<div class="user_show_margin">
  <h3>投稿数の前日比・前週比</h3>
  <div class = "table_width">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>今日の投稿数</th>
          <th>前日の投稿数</th>
          <th>前日比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @today_book.count %></td>
          <td><%= @yesterday_book.count %></td>
          <td>
            <% if @yesterday_book.count == 0 %>
              前日の投稿はありません
            <% else %>
              <!--前日比...当日÷前日×100を掛ける　to_fで小数点まで表示してくれる-->
              <% the_day_before = @today_book.count / @yesterday_book.count.to_f  %>
              <%= (the_day_before * 100).round %>%
            <% end %>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    <div>

  <table class="table table-bordered table_width">
    <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>前週の投稿数</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @this_week_book.count %></td>
      <td><%= @last_week_book.count %></td>
      <td>
        <% if @last_week_book.count == 0 %>
          前週の投稿はありません
        <% else %>
          <% the_week_before = @this_week_book.count / @last_week_book.count.to_f  %>
          <%= (the_week_before  * 100).round %>%
        <% end %>
      </td>
    </tr>
  </tbody>
  </table>
  </div>

  <!--過去７日間の投稿-->
   <h3>過去７日分の投稿数</h3>
   <table class="table table-bordered">
     <thead>
       <tr>
         <th>６日前</th>
         <th>５日前</th>
         <th>４日前</th>
         <th>３日前</th>
         <th>２日前</th>
         <th>１日前</th>
         <th>今日</th>
       </tr>
     </thead>
     <tbody>
       <tr>
        <td><%=@six_days_ago_book.count %></td>
        <td><%=@four_days_ago_book.count %></td>
        <td><%=@five_days_ago_book.count %></td>
        <td><%=@three_days_ago_book.count %></td>
        <td><%=@two_days_ago_book.count %></td>
        <td><%=@yesterday_book.count %></td>
        <td><%=@today_book.count %></td>
       </tr>
     </tbody>
   </table>